Package: com.551.glowiconposition
Name: GlowIconPosition
Version: 1.1.4
Architecture: iphoneos-arm64
Description: Adjust Glow notification icons vertically from Settings, with an enable switch. Original GlowIconPosition position is the default.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Homepage: https://github.com/551UK/GlowCompanion
Tag: role::enduser
