Package: com.551.glowiconposition
Name: GlowIconPosition
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Moves Glow's entire notification icon row to the top below the notch.
Maintainer: 551
Author: 551
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
Homepage: https://github.com/551UK/GlowCompanion
Tag: role::enduser
